---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Blog" description="Blog Page">
  <div class="w-full">
    <Header
      title="404"
      author="Page Not Found"
      date="Maaf, ada kesalahan"
      coverPhoto="/error404.jpeg"
    />
    <Footer />
  </div>
</Layout>
