---
const { text, link, className, btnClass } = Astro.props;
---

<button
 class=`p-1 rounded-lg bg-tertiary-container-light dark:bg-tertiary-container-dark text-on-tertiary-container-light dark:text-on-tertiary-container-dark border border-outline-light dark:border-outline-dark ${btnClass}`
 ><a href=`${link}` class=`${className}`>{text}</a></button
>
