---
const { title, description } = Astro.props;
---

<div class="p-2">
 <div
  id="full-header"
  class="md:h-96 xl:h-[544px] md:p-12 p-6 flex flex-col justify-center break-words rounded-3xl items-center bg-cover bg-center duration-500 overflow-hidden bg-full-header-light dark:bg-full-header-dark border border-outline-light dark:border-outline-dark"
 >
  <h1
   class="font-bold text-on-surface-light dark:text-on-surface-dark text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl mb-4 brightness-100 font-display"
  >
   {title}
  </h1>
  <h2
   class="font-normal text-on-surface-light dark:text-on-surface-dark text-base sm:text-sm md:text-md lg:text-lg xl:text-xl text-center"
  >
   {description}
  </h2>
 </div>
</div>
