---
import pkg from "react-icons/tb/index.js";
const { TbBrandInstagram, TbBrandFacebook, TbBrandTelegram, TbBrandLinkedin } =
 pkg;
---

<ul class="space-x-4 flex justify-center align-middle">
 <li>
  <a
   href="https://instagram.com/aldimaull/"
   target="_blank"
   rel="noopener noreferrer"
  >
   <TbBrandInstagram
    className="h-7 w-7 text-tertiarylight text-tertiary-light hover:text-on-surface-light dark:hover:text-on-surface-dark dark:text-tertiary-dark"
   />
  </a>
 </li>
 <li>
  <a
   href="https://web.facebook.com/aldi.maulana.1420/"
   target="_blank"
   rel="noopener noreferrer"
  >
   <TbBrandFacebook
    className="h-7 w-7 text-tertiarylight text-tertiary-light hover:text-on-surface-light dark:hover:text-on-surface-dark dark:text-tertiary-dark"
   />
  </a>
 </li>
 <li>
  <a href="https://t.me/aldi_maul/" target="_blank" rel="noopener noreferrer">
   <TbBrandTelegram
    className="h-7 w-7 text-tertiarylight text-tertiary-light hover:text-on-surface-light dark:hover:text-on-surface-dark dark:text-tertiary-dark"
   />
  </a>
 </li>
 <li>
  <a
   href="https://instagram.com/aldimaull/"
   target="_blank"
   rel="noopener noreferrer"
  >
   <TbBrandLinkedin
    className="w-7 h-7 text-tertiarylight text-tertiary-light hover:text-on-surface-light dark:hover:text-on-surface-dark dark:text-tertiary-dark"
   />
  </a>
 </li>
 <li>
  <a
   href="https://aldimaulana.vercel.app/rss.xml/"
   target="_blank"
   rel="noopener noreferrer"
  >
   <span
    class="material-symbols-rounded w-7 h-7 text-tertiarylight text-tertiary-light hover:text-on-surface-light dark:hover:text-on-surface-dark dark:text-tertiary-dark"
   >
    rss_feed</span
   >
  </a>
 </li>
</ul>
