<aside id="toc"></aside>

<script>
  const headings = document.querySelectorAll("article :is(h2,h3,h4,h5,h6) ");
  const tocContainer = document.getElementById("toc");
  const createTOC = () => {
    let tocHTML =
      "<p class='text-primary-light dark:text-primary-dark font-extrabold'>Table of Contents</p>";
    tocHTML += "<ul>";

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const id = entry.target.id;
          const tocLink = tocContainer.querySelector(`a[href="#${id}"]`);
          if (!tocLink) return;
          if (entry.isIntersecting) {
            // remove active class from all links
            document
              .querySelectorAll("#toc a")
              .forEach((e) =>
                e.classList.remove(
                  "text-tertiary-light",
                  "dark:text-tertiary-dark",
                  "font-bold"
                )
              );
            // add active class to the currently active entry
            tocLink.classList.add(
              "text-tertiary-light",
              "dark:text-tertiary-dark",
              "font-bold"
            );
          }
        });
      },
      {
        threshold: 1,
        rootMargin: "0px 0px -66%",
      }
    );

    headings.forEach((el) => {
      const tagName = el.tagName.toLowerCase();
      const level = parseInt(tagName.charAt(1));
      const id = el.id;
      const text = el.textContent;

      const tocEntry = `<li class="toc-level-${level}"><a href="#${id}"><svg width="3" height="24" viewBox="0 -9 3 24" class="inline mr-2 text-slate-400 overflow-visible group-hover:text-slate-600 dark:text-slate-600 dark:group-hover:text-slate-500"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path></svg>${text}</a></li>`;
      tocHTML += tocEntry;
      observer.observe(el);
    });
    tocHTML += "</ul>";
    tocContainer.innerHTML = tocHTML;
  };
  createTOC();
</script>

<script>
  const element = document.getElementById("toc");
  const stopHeight = 300;

  window.addEventListener("scroll", function () {
    if (window.scrollY >= stopHeight) {
      element.classList.remove("md:sticky");
    } else {
      element.classList.add("md:sticky");
    }
  });
</script>

<style>
  #toc {
    @apply text-sm md:sticky md:top-0 md:right-0 md:text-xs lg:text-sm md:p-0 md:py-2 p-2 md:mx-auto;
  }
</style>
